<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Eventos</title>
</head>
<style>
body {
	background: black;
	color: aliceblue;
	font: normal 20pt times;
}
</style>
<body>

	<div th:replace="~(menu :: menu)"></div>

	<div class="container">
	<h1>Olá, seja muito bem vindo a aplicação</h1>
	<h2>Graças a Deus deu Certo</h2>
	</div>
</body>
</html>