<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Isso é para Eventos</title>
</head>
<body>
	<div th:replace="~(menu :: menu)"></div>
	<div class="container">

	<h1>Detalhes do evento</h1>
	
	<div class="row">
    <div class="col s12 ">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Evento</span>
          <p> <strong> Id: </strong> <span th: text="${evento.id}">1</span>  </p>
          <p> <strong> Nome: </strong> <span th: text="${evento.noome}">Niver do Jão</span>  </p>
          <p> <strong> Local: </strong> <span th: text="${evento.local}">Clube</span>  </p>
          <p> <strong> Data: </strong> <span th: text="${evento.data}">25/02/2023</span>  </p>
          <p> <strong> Horário: </strong> <span th: text="${evento.harario}">19:00</span>  </p>
        </div>   
      </div>
    </div>
  </div>
	
	<div class="row">
    <div class="col s12 ">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Adicionar convidado</span>
          <form action="@{/eventos/{idEvento}(idEvento=${evento.id})}" method="post">
          	<div>
          		<input type="hidden" name="id" th:value"${convidado.id}" readonly="readonly">
          	</div>
          <div>
          		<label>Nome: </label> <input type="text" name="nome" th:value="${convidado.nome}"> 
           </div>
           <div>
          		<label>RG: </label> <input type="text" name="rg" th:value="${convidado.rg}"> 
           </div>
           <div>
          		<buton type="submit" class="btn"> Salvar </buton> 
          		<buton type="reset" class="btn"> Limpar </buton> 
           </div>
           
           <div class="row">
    <div class="col s12 ">
          <span class="card-title">Convidados</span>
          <table class="highlight">
          <thead>
          	<tr>
          	<th>Id</th>
          	<th>Nome</th>
          	<th>RG</th>
          	</tr>
          </thead>
          <tbody>
          <tr th:each="c ; ${convidados}">
          	<td th:text="${c.id}">1</td>
          	<td th:text="${c.nome}">Fernando soares</td>
          	<td th:text="${c.rg}">123</td>
          	
          	<a th;href="@{/eventos/{idEvento}/convidados/{idConvidado}/selecionar(idEvento=${evento.id}, idConvidado=${c.id})"> <i class "material-icons">edit</i></a>
          	<a
          	th:href="@{/eventos/{idEvento}/convidados/{idConvidado}/remover(idEventos=${evento.id},idConvidado=${c.id})}"><i
          	class "material-icons">Delete</i></a>
          </tr>
          </tbody>
          </table>
           </div>
          </form>
        </div>   
  </div>
	
	</div>
</body>
</html>