<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Isso é para Eventos</title>
</head>
<style>
body {
	background: black;
	color: white;
	font: times 20pt times;
}
</style>
<body>
	<div th:replace="~(menu :: menu)"></div>
	<div class="container">

	<form action="/eventos" method="post">

		<div>
			<label>nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Local:</label> <input type="text" name="local">
		</div>
		<div>
			<label>data:</label> <input type="text" name="data">
		</div>
		<div>
			<label>horário:</label> <input type="text" name="horario">
		</div>
		<div>
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
			<button class="waves-effect waves-light btn" type="reset">Limpar</button>
		</div>
	</form>
	</div>
</body>
</html>